@charset "UTF-8";
@import url("root.css");
@import url("subpages.css");

main div#tv-cel {
    background: url(../../media/images/tv-cel.png) no-repeat;
    width: 900px;
    height: 573px;
    margin: 20px auto;
}

main div#tv-cel video {
    display: block;
    position: relative;
    left: 30px;
    top: 60px;
    width: 480px;
}

main div#tv-cel audio {
    display: block;
    position: relative;
    left: 725px;
    top: 170px;
    max-width: 150px;
}