@charset "UTF-8";
@import url("root.css");

main {
    padding: 30px 0 30px 0;
    background-color: white;
}

main section {
    display: flex;
    justify-content: space-evenly;

}

main section div {
    text-align: center;
    padding: 30px;
    max-width: 600px;
}

main section div + div {
    width: 600px;
}

main section div p {
    text-align: justify;
    padding: 16px;
    line-height: 1.8em;
}

main section div img {
    max-width: 100%;
}

main section div iframe {
    display: block;  
    width: 100%;
    height: 100%;
}

@media (max-width: 1124px) {
    main section div {
        max-width: 450px;
    }
    
    main section div + div {
        width: 600px;
    }
}

@media (max-width: 974px) {
    main section {
        display: block;
        max-width: 600px;
        margin: auto;
    }
    
    main section div {
        max-width: 600px;
    }

    main section div + div {
        width: 540px;
        height: 376px;
    }
}

@media (max-width: 599px) {
    main section {
        max-width: 560px;
    }

    main section div + div {
        width: 500px;
    }
}

@media (max-width: 559px) {
    main section {
        max-width: 510px;
    }

    main section div + div {
        width: 450px;
        height: 406px;
    }
}

@media (max-width: 509px) {
    main section {
        max-width: 400px;
    }

    main section div + div {
        width: 340px;
        height: 446px;
    }
}

@media (max-width: 399px) {
    main section {
        max-width: 340px;
    }

    main section div + div {
        width: 280px;
        height: 520px;
    }
}

@media (max-width: 339px) {
    main section {
        max-width: 320px;
    }

    main section div + div {
        width: 260px;
        height: 548px;
    }
}

@media (max-width: 319px) {
    main section {
        max-width: 280px;
    }

    main section div + div {
        width: 220px;
        height: 626px;
    }
}