@charset "UTF-8";
@import url("root.css");

main {
    padding: 30px 0 30px 0;
    background-color: white;
}

main h1 {
    margin: 0 30px;
    padding: 0 16px;
}

main p {
    text-align: justify;
    margin: 0 30px;
    padding: 16px;
    line-height: 1.8em;
    max-width: 600px;
}

main section {
    display: flex;
    justify-content: space-evenly;
}

main section h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.8em;
    margin: 16px 0;
    padding: 14px;
}

main section div {
    text-align: center;
    padding: 30px;
    max-width: 600px;
}

main section div + div {
    width: 600px;
    min-height: 400px;
}


main section div img {
    max-width: 100%;
}

main section div iframe {
    display: block;  
    width: 100%;
    height: 100%;
}

@media (max-width: 1124px) {
    main section div {
        max-width: 450px;
    }
    
    main section div + div {
        width: 600px;
    }
}

@media (max-width: 974px) {
    main h1 {
        text-align: center;
        margin: 0;
    }

    main section {
        display: block;
        max-width: 600px;
        margin: auto;
    }
    
    main section div {
        max-width: 600px;
    }

    main section div + div {
        width: 540px;
        height: 376px;
    }
}

@media (max-width: 599px) {
    main section {
        max-width: 560px;
    }

    main section div {
        padding: 30px 16px;
    }

    main section div + div {
        width: 528px;
    }
}

@media (max-width: 559px) {
    main section {
        max-width: 510px;
    }

    main section div + div {
        width: 478px;
    }
}

@media (max-width: 509px) {
    main section {
        max-width: 400px;
    }

    main section div + div {
        width: 368px;
        height: 424px;
    }
}

@media (max-width: 399px) {
    main section {
        max-width: 340px;
    }

    main section div + div {
        width: 308px;
        height: 492px;
    }
}

@media (max-width: 339px) {
    main section {
        max-width: 320px;
    }

    main section div + div {
        width: 288px;
        height: 520px;
    }
}

@media (max-width: 319px) {
    main section {
        max-width: 280px;
    }

    main section div + div {
        width: 248px;
        height: 548px;
    }
}