@charset "UTF-8";
@import url("root.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: var(--fonte-principal);
    max-width: 1366px;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor4);
    color: var(--cor2);
}

header img {
    margin: 16px 0 0 16px;
}

header p {
    font-family: var(--fonte-secundaria);
    margin: 16px;
}

header nav {
    align-self: center;
    margin-right: 20px;
}

header nav #btn-mobile {
    display: none;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul::-webkit-scrollbar {
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

header nav ul li a:hover {
    border-bottom: 3px solid var(--cor3);
    transition: all 100ms ease;
}

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    text-align: center;
    font-weight: bold;
}

footer p {
    padding: 16px;
}

footer p + p {
    padding-top: 0;
}

footer a {
    text-decoration: none;
    color: var(--cor1);
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 863px) {

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 111px;
        right: 0px;
        background-color: var(--cor4);
        height: 0px;
        transition: 0.6s;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
    }

    header nav.active #menu {
        visibility: visible;
        height: calc(100vh - 111px);
        overflow-y: auto;
    }

    #menu a {
        display: block;
        margin: 0;
        padding: 16px;
        border-bottom: 1px solid rgba(242, 242, 242, 0.1);
        
    }

    #menu a:hover {
        border: none;
        padding-left: 32px;
        background-color: #f2f2f21a;
        border-bottom: 3px solid var(--cor3);
        transition: all 100ms ease;
        transition: 0.3s;
    }

    header nav #btn-mobile {
        display: flex;
        padding: 8px 16px;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer {
        color: var(--cor1);
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
        transition: 0.3s;
        position: relative;
    }

    nav.active #hamburguer {
        border-top: transparent;
    }

    nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 384px) {

    #menu {
        top: 131px;
    }

    header nav.active #menu {
        height: calc(100vh - 131px);
    }
}