<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/photos.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/functions.js" defer></script>
    <link rel="shortcut icon" href="../media/images_compressed/favicon.png" type="image/png">
    <title>Fotos Glass</title>
</head>
<body>
    <header>
        <div>
            <img src="../media/images_compressed/glass-logo.png" alt="Logo do Google Glass">
            <p>A revolução do Google está chegando</p>
        </div>

        <nav>
            <button id="btn-mobile"><span id="hamburguer"></span></button>

            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="specs.html">Especificações</a></li>
                <li><a href="photos.html">Fotos</a></li>
                <li><a href="multimedia.html">Multimídia</a></li>
                <li><a href="contact_us.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Galeria de Imagens do Google Glass</h1>

        <p>Veja na nossa galeria de fotos várias belas imagens que mostram algumas das principais características do Google Glass, como recursos e propriedades que estão impressionando o mundo inteiro. Basta passar o mouse sobre uma das fotos para ver uma versão ampliada e com uma breve descrição.</p>

        <ul id="galeria">
            <li id="img1" class="img-size"><span>Agenda e lembretes</span></li>
            <li id="img2" class="img-size"><span>Sergey Brin usando o Glass</span></li>
            <li id="img3" class="img-size"><span>Leve e compacto</span></li>
            <li id="img4" class="img-size"><span>Sensação de uma tela de 50</span></li>
            <li id="img5" class="img-size"><span>Vários tipos de lente</span></li>
            <li id="img6" class="img-size"><span>Informações importantes</span></li>
        </ul>
    </main>

    <footer>
        <p>&copy; João Victor</p>

        <p><a href="https://github.com/pupilo-py" target="_blank" rel="noopener noreferrer external">GitHub</a> | <a href="https://www.linkedin.com/in/pupilo-py/" target="_blank" rel="noopener noreferrer external">LinkedIn</a></p>
    </footer>
</body>
</html>