<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/functions.js" defer></script>
    <link rel="shortcut icon" href="../media/images/favicon.png" type="image/png">
    <title>Especificações Glass</title>
</head>
<body>
    <header>
        <div>
            <img src="../media/images/glass-logo-transp-peq.png" alt="Logo do Google Glass">
            <p>A revolução do Google está chegando</p>
        </div>

        <nav>
            <button id="btn-mobile"><span id="hamburguer"></span></button>

            <ul id="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="specs.html">Especificações</a></li>
                <li><a href="photos.html">Fotos</a></li>
                <li><a href="multimedia.html">Multimídia</a></li>
                <li><a href="contact_us.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>&copy; João Victor</p>

        <p><a href="https://github.com/pupilo-py" target="_blank" rel="noopener noreferrer external">GitHub</a> | <a href="https://www.linkedin.com/in/pupilo-py/" target="_blank" rel="noopener noreferrer external">LinkedIn</a></p>
    </footer>
</body>
</html>